---
layout: base
title: Gallery
redirect_from:
  - /pages/PhotoGallery/8/
  - /home.html/gallery/gallery/
custom_js:
  - bootstrap
  - bootstrap-image-gallery.min
---

<div class="row">
  <div class="bar">
    &nbsp;
  </div>
</div>
{% include tombrennan.html %}
<div class="row content">
  <ul class="gallery">
    {% for album in site.albums reversed %}
    <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <a href="{{ album.url }}">
      <img src="{{ album.cover }}" alt="{{ album.title }}" class="img-rounded">
      <h4 class="caption">
        {{ album.title }}
        <br /><small>{{ album.date | date: "%A, %-d %B, %Y" }}</small>
      </h4>
    </a>
    </li>
    {% endfor %}
  </ul>
</div>
