{% assign year = site.data.winter-league[include.year] %}

<table class="table table-striped">
  <tr>
    <th>Place</th>
    <th>Name</th>
    <th>Cake Race</th>
    <th>Club XC</th>
    <th>4k XC</th>
    <th>Avondale Cup</th>
    <th>2mile</th>
    <th>Subtotal</th>
    <th>Bonus 1</th>
    <th>Bonus 2</th>
    <th>Total</th>
  </tr>
{% for result in year.results %}
  <tr>
    <td>{{ result.place }}</td>
    <td>{{ result.name }}</td>
{% for race in result.races %}
    <td>{{ race.cake-race }}</td>
    <td>{{ race.club-xc }}</td>
    <td>{{ race.four-k }}</td>
    <td>{{ race.avondale-cup }}</td>
    <td>{{ race.two-mile }}</td>
    <td>{{ race.subtotal }}</td>
    <td>{{ race.plus20 }}</td>
    <td>{{ race.plus10 }}</td>
    <td>{{ race.total }}</td>
{% endfor %}
  </tr>
{% endfor %}
</table>
