body {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2F318D), to(#254478));
  background: -webkit-linear-gradient(#2F318D, #254478);
  background: -moz-linear-gradient(#2F318D, #254478);
  background: -ms-linear-gradient(#2F318D, #254478);
  background: -o-linear-gradient(#2F318D, #254478);
  color: #ddd;
}
h2, h3 {
  color: #FCD50D;
}
a, a:hover {
  color: #FCD50D;
}
.pager li > a, .pager li > a:hover {
  background-color: #FCD50D;
  color: #2F318D;
}
#header {
  /*height: 250px;*/
  color: #2F318D;
  background: url('/assets/images/LVAC_50-LockOff_Colour.png') #FCD50D no-repeat top left;
  margin: 0;
  position: relative;
}
#header h1 {
  padding-top: 80px;
  margin-left: 370px;
  margin-top: 0px;
  font-size: 285%;
  font-weight: bold;
  position: relative;
  
}

@media (max-width: 990px) {
  #header h1 {
    padding-top: 30px;
    margin-left: 370px;
    margin-top: 0px;
    font-size: 270%;
    font-weight: bold;
    position: relative;
    
  }
}

@media (max-width: 768px) {
  #header h1 {
    padding-top: 0px;
    margin-left: 370px;
    margin-top: 0px;
    font-size: 178%;
    font-weight: bold;
    position: relative;
    
  }
}

@media (max-width: 576px) {
  #header h1 {
    padding-top: 0px;
    margin-left: 370px;
    margin-top: 0px;
    font-size: 180%;
    font-weight: bold;
    position: relative;
    
  }
}


#header h1 a {
  color: #2F318D;
  text-decoration: none;
}
.yellow {
  color: #FCD50D;
}
#header img.logo {
  position: absolute;
  top: 20px;
  left: 215px;
}
.tombrennan {
  color: #2F318D;
  background: #FCD50D;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}
.tombrennan h2, .tombrennan-banner h2 {
  color: #2F318D;
}
.tombrennan-banner {
  color: #2F318D;
  background: #FCD50D;
  text-align: center;
}
.tombrennan-banner a {
  color: #2F318D;
  text-decoration: underline;
}
.facebook {
  padding-right: 5px;
}
.meta {
  padding-right: 5px;
}
.navbar {
  background-color: #2F318D;
  border-color: #2F318D;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  /*margin-bottom: -10px;*/
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #FCD50D;
  border-radius: 0;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  background-color: #369;
  color: #fea;
  text-decoration: underline;
}

/* .navbar-default .nav-pills > li > a {
  color: #FCD50D;
  border-radius: 0;
}
.navbar-default .nav-pills > li > a:hover {
  background-color: #369;
  color: #fea;
  text-decoration: underline;
} */
.bar {
  height: 12px;
  width: 100%;
  overflow: hidden;
  background-color: #333;
  color: #ddd;
}
.content {
  padding: 10px;
  background-color: #181818;
  overflow: auto;
}
.join .head {
  font-size: 200%;
  margin: 0;
}
.join {
  padding: 0px;
  margin: 5px 0px 5px 0px;
  -moz-box-shadow:inset 0px 1px 0px 0px #143356;
  -webkit-box-shadow:inset 0px 1px 0px 0px #143356;
  box-shadow:inset 0px 1px 0px 0px #143356;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2F318D), color-stop(1, #476689) );
  background:-moz-linear-gradient( center top, #2F318D 5%, #476689 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F318D', endColorstr='#476689');
  background-color:#2F318D;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #143356;
  /* display:inline-block; */
  color:#FCD50D;
  text-align:center;
  text-shadow:1px 1px 0px #143356;
}
.join:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #476689), color-stop(1, #2F318D) );
  background:-moz-linear-gradient( center top, #476689 5%, #2F318D 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476689', endColorstr='#2F318D');
  background-color:#476689;
}
.join:active {
  position:relative;
  top:1px;
}
.showresults {
  padding: 0px;
  margin: 5px 0px 5px 0px;
  -moz-box-shadow: inset 0px 1px 0px 0px #5a0f0f;
  -webkit-box-shadow: inset 0px 1px 0px 0px #5a0f0f;
  box-shadow: inset 0px 1px 0px 0px #5a0f0f;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b22222), color-stop(1, #8b1a1a));
  background: -moz-linear-gradient(center top, #b22222 5%, #8b1a1a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b22222', endColorstr='#8b1a1a');
  background-color: #b22222;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  text-indent: 0;
  border: 1px solid #5a0f0f;
  color: #ffeaea;
  text-align: center;
  text-shadow: 1px 1px 0px #5a0f0f;
}
.showresults:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8b1a1a), color-stop(1, #b22222));
  background: -moz-linear-gradient(center top, #8b1a1a 5%, #b22222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b1a1a', endColorstr='#b22222');
  background-color: #8b1a1a;
}
.showresults:active {
  position: relative;
  top: 1px;
}
.showresults .head {
  font-size: 200%;
  margin: 0;
}

.winterleague {
  padding: 0px;
  margin: 5px 0px 5px 0px;
  -moz-box-shadow: inset 0px 1px 0px 0px #888888;
  -webkit-box-shadow: inset 0px 1px 0px 0px #888888;
  box-shadow: inset 0px 1px 0px 0px #888888;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e0e0e0), color-stop(1, #b8b8b8));
  background: -moz-linear-gradient(center top, #e0e0e0 5%, #b8b8b8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#b8b8b8');
  background-color: #e0e0e0;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  text-indent: 0;
  border: 1px solid #888888;
  color: #333333;
  text-align: center;
  text-shadow: 1px 1px 0px #ffffff;
}

.winterleague:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8b8b8), color-stop(1, #e0e0e0));
  background: -moz-linear-gradient(center top, #b8b8b8 5%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8b8b8', endColorstr='#e0e0e0');
  background-color: #b8b8b8;
}

.winterleague:active {
  position: relative;
  top: 1px;
}

.winterleague .head {
  font-size: 200%;
  margin: 0;
}
.title {
  color: #888;
  padding: 10px;
}
.title a {
  color: #FCD50D;
  padding: 0  20px 0 20px;
}
.news a {
  color: #FCD50D;
}
.larger {
  font-size: 200%;
  color: #FCD50D;
}
hr {
  border-color: #888;
  width: 80%;
}
#map {
  height: 400px;
}

#mapNews {
  /* padding: 10px; */
  /* margin: 20px 5px 20px 0px; */
  margin: 0px 0px 20px 0px;
  height: 180px;
  /* width: 290px; */
}

.leaflet-popup-content {
  color: #333;
}
#footer {
  background-color: #333;
  color: #888;
  padding: 10px 30px;
}
#footer p {
  margin: 0;
}
ul.news, ul.gallery {
  padding:0 0 0 0;
  margin:0 0 0 0;
}
ul.news li, ul.gallery li {
  list-style:none;
  margin-bottom:25px;
}
ul.gallery li {
  height: 230px;
  float: left;
}
ul.news li img {
  cursor: pointer;
}
dt {
  padding-bottom: 5px;
  color: #FCD50D;
}
dd {
  margin-left: 10px;
  padding-bottom: 15px;
}

#carouselExampleIndicators {
  padding-right: 0;
  padding-left: 0;
}

.social-media-orga {
  /* padding: 2.75% 0 41px 85%; */
  padding: 0% 10px 35px 0%;
  /* padding-bottom: 1%; */
}
.social-media-orga-row {
  float: right;
}

.logo-social-media{
  float: right;
}

.row.tight-gutter {
  --bs-gutter-x: 0.0rem; /* valor que prefieras */
}

.image-col img {
  display: block;
  height: auto;
  max-width: 100%;
}

.link-gallery > p > small{
  /* color: #FFFFFF; */
  text-decoration: none;
}

.img-section{
  margin-right: -24px;
  margin-left: -22px;
}

/* .carousel-inner > .carousel-item > img {
  width: 100%;
  height: 350px;;
} */

.img-fluid {
  width: 100%;
  height: auto; 
  max-height: 715px;
}

.table {
  color: #ddd;
}

.jimmy_monaghan_picture{
  height: 463px;
  width: 368px;
}

.coach-profile {
  margin-top: 10px;
}

.coach-profile p {
  text-align: justify;
}

.coach-name {
  margin-top: 0;
  text-align: center;
  background-color: #2a2a2a;
  padding: 0px 5px 5px 15px;
  border-radius: 10px 10px 0px 0px;
  color: #FCD50D;
}

.coach-role {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
  color: #ccc;
  background-color: #3f51b557;
  padding: 0 15px 0px 15px;
  margin-top: -5px;
  border-radius: 0 0 10px 10px;
}

.coach-image {
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #FCD50D;
  border-radius: 12px;
}