---
layout: base
---

<div class="row">
  <div class="bar">
    &nbsp;
  </div>
</div>
<div class="row content">
  <div class="col-md-8">
    <div class="title">
      <h3>
        {{ page.title }}
        <br /><small>{{ page.date | date: "%A, %-d %B, %Y at %I:%M%p" }}</small>
      </h3>
    </div>
    <table class="table table-striped">
    {% for result in page.results %}
    <tr>
    <td>{{ result.place }}</td>
    <td>{{ result.name }}</td>
    <td>{{ result.finish_time }}</td>
    <td>{{ result.actual_time }}</td>
    </tr>
    {% endfor %}
  </table>
  </div>
  <div class="col-md-4">
    <div id="map"></div>
  </div>
</div>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>
  var map = L.map('map').setView([{{ page.latitude }}, {{ page.longitude }}], 14);
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
  }).addTo(map);
  L.marker([{{ page.latitude }}, {{ page.longitude }}]).addTo(map)
  .bindPopup('{{ page.title }}')
  .openPopup();
</script>

